#chart-container path {
  fill: none;
}

#chart-container text {
  fill: var(--font-color);
}

#chart-container .axis path {
  stroke: var(--font-color);
  stroke-width: 1;
  shape-rendering: crispEdges;
}

#chart-container .axis line {
  stroke: var(--font-color);
}

#chart-container .axis path {
  stroke: var(--font-color);
}
#chart-container .axis text {
  fill: var(--font-color);
  font-size: 12px;
}

#chart-container .amount-line {
  stroke: var(--hopr-amount-color);
}

#chart-container .count-line {
  stroke: var(--font-color);
}

#chart-container .tooltip-circle {
  stroke-width: 3;
  fill: var(--bg-color);
}

#chart-container .tooltip-circle-amount {
  stroke: var(--secondary-color);
}

#chart-container .tooltip-circle-count {
  stroke: var(--font-color);
}

#chart-container .tooltip {
  stroke: var(--font-color);
  stroke-width: 2;
}

#chart-container #tooltip-group {
  fill: var(--bg-color);
}

#chart-container .chart-overlay {
  fill: transparent;
}
